@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #E8FFF5;
}
html {
  scoll-behavior: smooth;
  cursor: default;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #E8FFF5;
}
::-webkit-scrollbar-thumb {
  background-color: #4ade80;
  border-radius: 4px;
  border: 2px solid #E8FFF5;
}
.empty-4-6 .btn-back{
  background-color: #27C499;
  transition: 0.3s;
}
.empty-4-6 .title-text{
  color: #272E35;
}    
@media(min-width: 425px){
  .empty-4-6 .title-text{
    font-size: 40px;
  }
} 